%form.container.user-new
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), method: :post) do |f|
    = f.error_notification
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .form-inputs
          .col-md-12
            %h2 Register
            .user-name_image.row
              .user-name.col-md-10
                = f.input :name, required: true, autofocus: true, placeholder: "Input Username", label: false
              .user-image.col-md-2
                %button.btn.btn-primary Add avatar
                = f.input :avatar, label: false, as: :file
            = f.input :email, required: true, placeholder: "Input Email", class: "user-email", label: false, autocomplete: "off"
            = f.input :password, required: true, placeholder: "Inpt Password", class: "user-password", label: false, autocomplete: "off"
          .col-md-12
            %h4 Profile
            .user-user-profile.row
              .user-name.col-md-12
                = f.input :avatar, cols: "30", rows: "4", placeholder: "Input Profile", label: false
            %h4 Participation
            .user-user-member.row
              .user-name.col-md-12
                = f.input :participation, placeholder: "Input Participation", label: false
            %h4 Occupation
            .user-name_image.row
              .user-name.col-md-12
                = f.input :occupation, cols: "30", rows: "4", placeholder: "Input Occupation", label: false
      .row.text-center.user-btn
        .form-actions
          = f.button :submit, "SIGN UP", class: "button btn btn-lg btn-primary btn-block"
