.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to (image_tag @user.avatar, alt: "64x64", src: "@user.avatar", style: "width: 64px; height: 64px;", data: {src: "holder.js/64x64", holder: {rendered: "true"}}, class: "media-object"), user_path(@user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
            - if @prototype.user_id == current_user.id
              = link_to "edit", edit_prototype_path(@prototype), class: "btn btn-xs navbar-inverse btn-edit"
          .proto-user
            by
            = link_to @user.name, user_path(@user)
            %p.degree
              = "#{@user.participation} ／ #{@user.occupation}"
    .col-md-6.text-right
      = form_for @like do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :prototype_id, value: @prototype.id
        %button.btn.btn-default.btn-like
          - if @prototype.liked?(current_user)
            = image_tag "icon_heart_red.svg"
          - else
            = image_tag "icon_heart.svg"
          Like
          %span.num
            = @prototype.likes_count
  .row
    .col-md-9
      = image_tag @prototype.main_thumbnail, class: "img-responsive"
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.sub_thumbnails.each do |thumb|
          %li.list-group-item
            = image_tag thumb, class: "img-responsive"
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    - unless @prototype.get_tags.blank?
      .col-md-3
        %h4 Tag List
        %ul.proto-tag-list.list-inline
          - @prototype.get_tags.each do |tag|
            %li
              = link_to tag, tag_path(tag), class: "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num
        = " (#{@prototype.comments.count}) "
    .col-md-8
      - @prototype.comments.each do |comment|
        .media
          .media-left
            = link_to (image_tag comment.user.avatar, alt: "64x64", src: "@user.avatar", style: "width: 64px; height: 64px;", data: {src: "holder.js/64x64", holder: {rendered: "true"}}, class: "media-object"), user_path(comment.user)
          .media-body
            %h4#top-aligned-media.media-heading
              = comment.user.name
            %p
              = comment.text
      .form-inlign{role: "form"}
        = form_for @new_comment do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, required: true, placeholder: "Input comment", rows: "3", class: "form-control"
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :prototype_id, value: @prototype.id
            .form-group.col-md-2
              = f.submit :comment, class: "btn btn-primary"
