= render "layouts/top"

.container
  .row
    .col-sm-12.proto-content
      .thumbnail
        = button_tag @tag.name, class: "btn btn-tag"
        .tag-meta
          = link_to tag_path(@tag), class: "label label-default tag-list-number" do
            = @tag.prototypes_from_tag.count
            %i Projects
.container.proto-list
  .row
    = render @prototypes
.text-center
  = paginate @prototypes
